<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TransmiTata">
    <meta name="author" content="manre">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <title>TransmiTata</title>

</head>
<script type='text/javascript'>
        $(document).ready(function() {

            check_for_route_in_url();

            $("form").submit(function(e){
                e.preventDefault(e);

                var route_name = $("#route_name").val();

                routes = find_route(route_name)
            });

            function find_route(route_name) {
                var settings = {
                    "url": "api/v1/route/" + route_name + "/find",
                    "method": "GET",
                };

                $.ajax(settings).done(function (response) {
                    var routes = [];
                    for (let i = 0; i < response.length; i++) {
                        var route = response[i]["name"];

                        routes.push(route);
                    };
                    display_routes(routes);
                });
            };

            function display_routes(routes) {
                for (let i = 0; i < routes.length; i++) {
                    $('#routes_list').append('<li><a href="?route_id=' + routes[i] + '">' + routes[i] + '</a></li>');
                }

            };

            function check_for_route_in_url(){
                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });

                let route_id = params.route_id;

                if (route_id !== null){
                    get_route(route_id);
                }
            };

            function get_markers(){
                var markers = [
                    {"latitude": 51.5, "longitude": 0.09, "title": "manre"},
                    {"latitude": 51.9, "longitude": 0.15, "title": "manre"}
                ];

                return markers;
            };

            function display_map(markers){
                var map = L.map('map').setView([4.7090,-74.0649], 13);

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                for (let i = 0; i < markers.length; i++) {
                    var latitude = markers[i]["latitude"];
                    var longitude = markers[i]["longitude"];
                    var title = markers[i]["title"];

                    var marker = L.marker([latitude, longitude]).addTo(map);
                    marker.bindPopup(title);
                }
            };

            function get_route(route_id){
                var settings = {
                    "url": "api/v1/route/" + route_id,
                    "method": "GET",
                };

                $.ajax(settings).done(function (response) {
                    var markers = response;
                    display_map(markers);
                });
            };
        });


</script>

<body>

<h1>TransmiTata</h1>

<form>
    <label>Nombre de la ruta</label><br>
    <input type="text" id="route_name" value="E26B"><br>

    <input id="send" type="submit" value="Buscar">
</form>

<ul id="routes_list"></ul>


<div id="map" style="height: 500px; width: 500px;"></div>

<h1>Docs</h1>
<p>https://medium.com/@nargessmi87/how-to-embede-open-street-map-in-a-webpage-like-google-maps-8968fdad7fe4</p>



</body>

</html>